/**************
General
**************/
*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  font-family: Georgia, sans-serif;
  background: #e1c1f7;
  color: #333;
}

ol,
ul {
  list-style: none;
}

.cFix:after {
  content: '';
  display: table;
  height: 0;
  clear: both;
}

/**************
.pageContainer
**************/
.pageContainer {
  margin: 40px auto;
  width: 75%;
  background: #fff;
  border-radius: 8px;
  padding: 40px;
}

.pageHead h2 {
  margin-bottom: 0;
  font-style: italic;
}
